<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="table table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ritnaam</th>
                        <th>Omschrijving</th>
                        <th>Datum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Rit1</td>
                        <td>Uitwedstrijd Noordwijk</td>
                        <td>2017-01-07</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
