<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="table table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ritcode</th>
                        <th>Ritnaam</th>
                        <th>Omschrijving</th>
                        <th>Datum</th>
                        <th>Omschrijving</th>
                        <th>Afstand</th>
                        <th>p/p km</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rit of ritten">
                        <td>{{ rit.ritCode }}</td>
                        <td>{{ rit.ritNaam }}</td>
                        <td>{{ rit.ritDatum }}</td> 
                        <td>{{ rit.omschrijving }}</td> 
                        <td>{{ rit.afstand }}</td> 
                        <td>{{ rit.prijsperkilometer }}</td> 
                    </tr>                     
                </tbody>
            </table>
        </div>
    </div>
</div>
