<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <h3 *ngIf="ridesLoaded == false">Bezig met laden...</h3>
        <div class="table table-responsive" *ngIf="ridesLoaded == true">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rit ID</th>
                        <th>Ritnaam</th>
                        <th>Datum</th>
                        <th>Omschrijving</th>
                        <th>Deelnemertype</th>
                        <th>Aantal plekken</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ride of rides">
                        <td>{{ ride._id }}</td>
                        <td>{{ ride.name }}</td>
                        <td>{{ ride.date }}</td> 
                        <td>{{ ride.descriptiont }}</td> 
                        <td>{{ ride.participantType }}</td> 
                        <td>{{ ride.nrOfSeats }}</td> 
                    </tr>                     
                </tbody>
            </table>
        </div>
    </div>
</div>
