<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="table-reduced" >
            <form #form="ngForm" (submit)="submitForm()" novalidate>
                <div class="form-group">
                    <label>Ritnaam</label>
                    <input type="text" class="form-control" name="name" 
                        [(ngModel)]="model.name">
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="participantType" value="rijder" checked 
                            [(ngModel)]="participantType">
                        Rijder
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="participantType" value="meerijder"
                            [(ngModel)]="participantType">
                        Meerijder
                    </label>
                </div>

                <div *ngIf="participantType=='rijder'">
                    <div class="form-group">
                        <label>Naam rijder</label>
                        <input type="text" class="form-control" name="driverName"
                            [(ngModel)]="driver.name">
                    </div>
                </div>                
                <div *ngIf="participantType=='rijder'">
                    <div class="form-group">
                        <label>Aantal plekken over</label>
                        <input type="text" class="form-control" name="nrOfSeats"
                            [(ngModel)]="driver.nrOfSeats">
                    </div>
                </div>
                <div *ngIf="participantType=='meerijder'">
                    <div class="form-group">
                        <label>Naam meerijder</label>
                        <input type="text" class="form-control" name="companionName"
                            [(ngModel)]="companion.name">
                    </div>
                </div>                
                <div *ngIf="participantType=='meerijder'">
                    <div class="form-group">
                        <label>Ik wil meerijden met</label>
                        <input type="text" class="form-control" name="companionDriverName"
                            [(ngModel)]="driver.name">
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Ok</button>
            </form>
            Model: {{ model | json }}
            Driver: {{ driver | json }}
            <br>
            Angular: {{ form.value | json }}
        </div>
    </div>
</div>