<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="container" >
            <form #form="ngForm" novalidate>
                <div class="form-group">
                    <label>Ritnaam</label>
                    <input type="text" class="form-control" name="name" 
                        [(ngModel)]="model.name">
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="participantType" value="rijder" checked 
                            [(ngModel)]="model.participantType">
                        Rijder
                    </label>
                    <div *ngIf="model.participantType=='rijder'">
                        <div class="form-group">
                            <label>Aantal plekken over</label>
                            <input type="text" class="form-control" name="nrOfSeats"
                                [(ngModel)]="model.nrOfSeats">
                        </div>
                    </div>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="participantType" value="meerijder"
                            [(ngModel)]="model.participantType">
                        Meerijder
                    </label>
                </div>
                <button class="btn btn-primary" type="submit">Ok</button>
            </form>
            Model: {{ model | json }}
            <br>
            Angular: {{ form.value | json }}
        </div>
    </div>
</div>